<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="org.tarena.dao.VehicleDao">
 
 	<resultMap id="vehicleMap" type="org.tarena.entity.Vehicle" >
 		<id property="id" column="ID"/>
 		<result property="color" column="COLOR"/>
 		<discriminator javaType="java.lang.String" column="TYPE">
 			<case value="T" resultType="org.tarena.entity.Truck">
 				<result property="boxsize" column="BOXSIZE"/>
 			</case>
 			<case value="C" resultType="org.tarena.entity.Car">
 				<result property="doorsize" column="DOORSIZE"/>
 			</case>
 		</discriminator>
 	</resultMap>
 	
 	<select id="findAll" resultMap="vehicleMap">
 		select * from t_car 
 	</select>
 	 	
 </mapper>