<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns:context="http://www.springframework.org/schema/context"
	 xmlns:util = "http://www.springframework.org/schema/util"
	 xmlns:jee =" http://www.springframework.org/schema/jee"
	 xmlns:tx ="http://www.springframework.org/schema/tx"
	 xmlns:jdbc ="http://www.springframework.org/schema/jdbc"
	 xmlns:jpa = "http://www.springframework.org/schema/data/jpa"
	 xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	        http://www.springframework.org/schema/beans/spring-beans.xsd
	          						http://www.springframework.org/schema/context
	        http://www.springframework.org/schema/context/spring-context.xsd
	        						http://www.springframework.org/schema/util 
	        http://www.springframework.org/schema/util/spring-util.xsd
	        						http://www.springframework.org/schema/jee 
	        http://www.springframework.org/schema/jee/spring-jee.xsd
	         						http://www.springframework.org/schema/tx 
	         http://www.springframework.org/schema/tx/spring-tx.xsd 
	         						http://www.springframework.org/schema/jdbc 
	         http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
	         						http://www.Springframework.org/schema/data/jpa
	         http://www.Springframework.org/schema/data/jpa/spring-jpa.xsd
	         						http://www.springframework.org/schema/mvc 
	         http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!--配置数据源  -->
	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/emp"/>
		<property name="username" value="root" />
		<property name="password" value="1234" />
	</bean>
	
	<!--配置 sqlSessionFactory  -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<property name="mapperLocations" value="classpath:org/tarena/entity/*.xml"></property>
	</bean>

	<!--配置 Mybatis注解 和指定包扫描  -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactory"  ref="sqlSessionFactory"/>
		<property name="basePackage" value="org.tarena" />
		<property name="annotationClass" value="org.tarena.annotation.MyBatisRepository" />
	</bean>
	
	<!--开启注解扫描  -->
	<context:component-scan base-package="org.tarena" />
	<!--开启requestMapping注解   -->
	<mvc:annotation-driven />
	<!--处理请求转发  -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	
</beans>